
img {
    object-fit: cover; 
    width: 300px;
    height: 300px; 
    border-radius: 45%;
  	
    
}

.buffer{ 
    
    height:50px;
}


.container {
    background-color: rgba(15,135,0,0.8);
    display: flex;
    justify-content: center;
}

h1 {
     text-indent: 60px;
    
}

img1 {
    float: right; 
}
