body {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}





#A1{
  font-size: 6vh;
  font-weight: bold;
}
#A2{
  font-size: 6vh;
  font-weight: bold;
}
#A3{
  font-size: 6vh;
  font-weight: bold;
}
#A4{
  font-size: 6vh;
  font-weight: bold;
}
#A5{
  font-size: 6vh;
  font-weight: bold;
}

.top_corner {
  display: grid;
  grid-template-columns: 1fr 2.5fr 0.5fr;
  background-color: #6975f1;
  padding: 2.5vh;
  align-items: center;
  font-family: arial, helvetica, sans-serif;
}
.right {
  display: block;
  position: absolute;
  align-content: center;
  right: 16px;
}
.image1 {
  display: block;
  border-radius: 5em;;
  width: 50vh;
  height: 50vh;
}

.top_name {
  font-size: 8vh;
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
  font-family: arial, helvetica, sans-serif;
}

.buffer {
  height: 4vh;
  text-align: center;
  background-color: rgba(69, 94, 206, 0.8);
  font-family: arial, helvetica, sans-serif;
}
.top_intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  font-family: arial, helvetica, sans-serif;
  padding: 0.5em;
}

.intro {
  font-size: 5vh;
  text-align: justify;
  font-family: arial, helvetica, sans-serif;
}

.image2 {
  display: block;
  width: 50vh;
  height: 50vh;
  padding: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

ul {
  display: flex;
  justify-content: left;
  font-family: arial, helvetica, sans-serif;
}

.education {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;
  font-family: arial, helvetica, sans-serif;
}
.education_text {
  font-size: 5vh;
  text-align: justify;
  font-family: arial, helvetica, sans-serif;
}
.top_work_exp {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding: 0.5em;
}
.work_exp_text {
  font-size: 5vh;
  text-align: left;
  font-family: arial, helvetica, sans-serif;
}
.image3 {
  display: block;
  width: 50vh;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
}
.top_self_taught {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding: 0.5em;
}
.self_taught_text {
  font-size: 5vh;
  text-align: left;
  font-family: arial, helvetica, sans-serif;
}

.buffer {
  height: 4vh;
  text-align: center;
  background-color: rgba(15, 135, 0, 0.8);
}

i {
  font-size: 2.5vh;
  text-align: justify;
  font-family: arial, helvetica, sans-serif;
}

h2 {
  font-size: 2.5vh;
  font-weight: bold;
  text-decoration: underline;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.image2 {
  float: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .top_corner {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }
  .image1 {
    border-radius: 20em;
    width: 200px;
    height: 200px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group{
    width: 10px;
    height: 10px;
  }
  .buffer {
    height: 20px;
    text-align: center;
    background-color: rgba(15, 135, 0, 0.8);
  }

  .top_name {
    text-align: center;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 6vh;
    font-weight: bold;
  }

  .top_intro {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 2vh;
    gap: 20px;
    font-size: 4vh;
    font-family: arial, helvetica, sans-serif;
  }
  .education {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 4vh;
    font-family: arial, helvetica, sans-serif;
  }
  .top_work_exp {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 4vh;
    font-family: arial, helvetica, sans-serif;
  }
  .top_self_taught {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 4vh;
    font-family: arial, helvetica, sans-serif;
  }

  i {
    font-size: 2.5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: arial, helvetica, sans-serif;
  }

  #A1{
    font-size: 5vh;
    font-weight: bold;
  }
  #A2{
    font-size: 5vh;
    font-weight: bold;
  }
  #A3{
    font-size: 5vh;
    font-weight: bold;
  }
  #A4{
    font-size: 5vh;
    font-weight: bold;
  }
  #A5{
    font-size: 5vh;
    font-weight: bold;
  }

}


@media only screen and (max-width: 300px) {
  .top_corner {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }
  .image1 {
    border-radius: 20em;
    width: 200px;
    height: 200px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group{
    width: 10px;
    height: 10px;
  }
  .buffer {
    height: 20px;
    text-align: center;
    background-color: rgba(15, 135, 0, 0.8);
  }

  .top_name {
    text-align: center;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vh;
    font-weight: bold;
  }

  .top_intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 2vh;
    font-family: arial, helvetica, sans-serif;
  }
  .education {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 2vh;
    font-family: arial, helvetica, sans-serif;
  }
  .top_work_exp {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 2vh;
    font-family: arial, helvetica, sans-serif;
  }
  .top_self_taught {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 2vh;
    font-family: arial, helvetica, sans-serif;
  }

  i {
    font-size: 1vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: arial, helvetica, sans-serif;
  }

  #A1{
    font-size: 5vh;
    font-weight: bold;
  }
  #A2{
    font-size: 5vh;
    font-weight: bold;
  }
  #A3{
    font-size: 5vh;
    font-weight: bold;
  }
  #A4{
    font-size: 5vh;
    font-weight: bold;
  }
  #A5{
    font-size: 5vh;
    font-weight: bold;
  }

}

.media_icon{
  padding-left: 25px;
}

.fa {
  padding: 3px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  border-radius: 10px;
  background: #ffffff;
  color: rgb(3, 93, 228);
}
.fa-linkedin {
  width: 50px;
  border-radius: 10px;
  background: white;
  color: #007bb5;
}
.fa-instagram {
  border-radius: 10px;
  background: white;
  color: #125688;
}
.fa-youtube {
  border-radius: 10px;
  background: #bb0000;
  color: white;
}



