body{
  font-size: 200%;
}

img {

  object-fit: cover; 
  border-radius: 200%s;
}


ul {

  display: flex;

  justify-content: left;
; 
  
}

.buffer{ 

  height:30px;

}


i{
  font-size: 200%;
}


.container {

  background-color: rgba(15,135,0,0.8);

  display: flex;

  justify-content: center;

}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 100px;
  flex: 50%;
 
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 100px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}



h1 {

   text-indent: 20px;
   justify-content: center;

}



.image2 {

  float: center; 

}
