

.button {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #2196f3;
  padding: 2.5vh;
  align-items: center;
}

.image1 {
  display: block;
  width: 50vh;
  height: 50vh;
}

.name {
  font-size: 10vh;
  text-align: left;
  
}

.buffer {
  height:4vh;
  text-align: center;
  background-color: rgba(15, 135, 0, 0.8);
}
.button1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2.5vh;
  align-items: center;
}
.name1 {
  font-size: 5vh;
  text-align: justify;
}

.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
  height: 50vh;
}

ul {
  display: flex;
  justify-content: left;
}

.buffer {
  height:4vh;
  text-align: center;
  background-color: rgba(15, 135, 0, 0.8);
}

i {
  font-size: 2.5vh;
}

h2 {
  text-indent: 0.5vh;
  padding-top: 2.5vh;
}

.image2 {
  float: center;
}

